<div class="table-responsive table-striped caption-top">
  <caption>List of cars</caption>
  <table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Car</th>
        <th scope="col">Name</th>
        <th scope="col">Date Start</th>
        <th scope="col">Date End</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @rents.each do |rent| %>
      <tr class="align-bottom">
        <td><%= rent&.id %></td>
        <td><%= rent&.car.name %></td>
        <td><%= rent.name %></td>
        <td><%= rent.date_start %></td>
        <td><%= number_to_currency(rent&.price, precision: 2) %> </td>
        <td><%= link_to 'Show', admin_rent_path(rent), class: "btn btn-outline-info btn-sm" %></td>
        <td><%= link_to 'Edit', edit_admin_rent_path(rent), class: "btn btn-outline-primary btn-sm" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>